<div class='bg-spot' style="height: 800px;">
    <div>
        <form id='search-form' class='form' action="/artist-search">
            <label for="name-input">Artist:</label>
            <input id="name-input" type="text" name="artist">
            <button type="submit">Search!
            </button>

        </form>
    </div>

</div>